{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %} 
<div class="user-details">
    <div class="user-details-header-content custom-row">
        <h3>Welcome! Sign In</h3>
        
        <form method="Post">
            {%csrf_token%}
            <table border="0">
                {{ form }}
            </table>
            <br>            
            <button type="submit" class="sisu-button">Login</button>
            <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </form>
        
    </div>
</div> 
{% endblock %}