{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %} 
<div class="user-details">
    <div class="user-details-edit custom-row">
        <h3>Reset my password</h3>

        <form method="Post">
            {%csrf_token%}
            <table border="0">
                {{ form }}
            </table>
            <br>            
            <button type="submit" class="sisu-button">Reset</button>
        </form>
    </div>
</div>   
{% endblock %}