{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<!--================Offcanvus Side Menu Area =================-->
        <div class="side_menu">
			<a class="logo" href="#"><img src="{% static 'img/logo.png'%}" alt=""></a>
      
			<ul class="list menu_right">   
        <li><a href="/">Home</a></li>      
        
        {% include 'blog/post_category.html' %}                    
       
				<li><a href="{% url 'about_us' %}">About Us</a></li>
				<li><a href="{% url 'contact_us' %}">Contact Sisu</a></li>
			</ul>
			
        
      <ul class="list menu_right">
      
      {% if user.is_authenticated %}
        <li>{{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></li>
        <li><a href="{% url 'user_settings' %}" >Settings</a> </li>
        {% else %}
        <li><i class="glyphicon glyphicon-lock"></i> <a href="{% url 'signup' %}">Sign in / Sign up </a></li>
        {% endif %}
      </ul>
		</div>
        <!--================End Offcanvus Side Menu Area =================-->

        <!--================Canvus Menu Area =================-->
        <div class="canvus_menu">
        	<div class="container">
        		<div class="float-left">
        			<div class="toggle_icon">
        				<span></span>
        			</div>
        		</div>
        	</div>
        </div>
        <!--================End Canvus Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_slider">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="{% static 'img/slider/slider-1.jpg' %}" alt="">
						<div class="slider_text">
							<img src="{% static 'img/slider/slider-content.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide"><img src="{% static 'img/slider/slider-2.jpg' %}" alt="">
						<div class="slider_text">
							<img src="{% static 'img/slider/slider-content.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide"><img src="{% static 'img/slider/slider-3.jpg' %}" alt="">
						<div class="slider_text">
							<img src="{% static 'img/slider/slider-content.png" alt="">
						</div>
					</div>
				</div>
			</div>

        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================About Us Area =================-->
        {% include 'blog/about_us_content.html' %}
        
        
                
{% endblock %}