{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %}  
<div class="about-us container">
    <p></p>
    <hr class="hr-text" data-content="EMPOWER NOW PROGRAM">
    <div class="about-us-lower-panel">
		<h1>Our Mission</h1>
		<div class="about-us-lower-panel-block">
			<img src="{% static 'img/icon/handshake.svg' %}" alt="">
			<h4>We are not alone</h4>
			<p>Harassment, discrimination, politics, and other conflicts in the workplace
					inspired us to realize that many other women could be facing similar
					situations in their workplaces.</p>
		</div>
		<div class="about-us-lower-panel-block">
			<img src="{% static 'img/icon/heart.svg' %}" alt="">
			<h4>We want to listen</h4>
			<p>Interviewing and collecting cases from women who have undergone
					unfavorable incidents in academia or industry is our mission.
					<br> We want to highlight the real, the here, and the now in the hopes of
					
					illuminating truth in the darkest places.
			</p>
		</div>
		<div class="about-us-lower-panel-block">
			<img src="{% static 'img/icon/handshake.svg' %}" alt="">
			<h4>We want to work with you</h4>
			<p>By bringing awareness to universities, corporations, and other organizational
					entities, our “Empower Now” program intends to prevent inappropriate
					incidents from occuring in the workplace. 
                    <br> Inspiring empathy in every user is
					key to preparing them to respond aptly to on-the-field situations.
			</p>
		</div>
		<div class="about-us-lower-panel-block">
			<img src="{% static 'img/icon/comments.svg' %}" alt="">
			<h4>We want to speak up</h4>
			<p>Our published cases aim to empower women, particularly those in STEM fields, to
					speak up--whether it be to their perpetrator, manager, organizational authority, or
					themselves. 
                    <br> We want to help women embrace their emotions, discern the best
					path forward, and, ultimately, heal from their incidents.
			</p>
		</div>
		<div class="about-us-lower-panel-block">
			<img src="{% static 'img/icon/chart-bar.svg' %}" alt="">
			<h4>We want you to stick with it</h4>
			<p>More than 200 women in top, tech firm positions reported sexist work interactions,
					with one in three women having felt afraid for their safety [1]. Additionally, nearly 40% who earn engineering degrees either quit or never enter the profession [2].
					<br> Thus, our mission is simple: to help women joyfully pursue their STEM dreams without
					feeling uncomfortable, inhibited, or dissuaded in any way because of uncalled for
					people-play.
			</p>
		</div>
	</div>
</div>
{% endblock %}
