{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %}  
<div class="about-us-footer">
    <h1>We are SISU</h1>
    <p></p>
    <hr class="hr-text" data-content="MEET THE TEAM">
	<div class="custom-row">
        <div class="about-us-footer-profile">
            <img src="{% static 'img/icon/female_user_1.png' %}" alt="">
			<h4>Jo</h4>
			<h6>Co-founder</h6>
			<p>
				A fun-loving engineer and social justice advocate. 
                <br>Loves to solve intricate challenges and travel the world!
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/female_user_2.png' %}" alt="">
			<h4>Xiao</h4>
			<h6>Co-founder / Lead Backend Developer </h6>
			<p>
				A passionate full-stack software engineer who loves to solve tough problems.
                <br>Strong advocate of women leadership, diversity and inclusion in the workplace.
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/male_user_1.png' %}" alt="">
			<h4>Shane</h4>
			<h6>Lead Frontend Developer</h6>
			<p>
				Full-stack engineer, passionate in developing user friendly application
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/female_user_3.png' %}" alt="">
			<h4>Julie</h4>
			<h6>UX Designer</h6>
			<p>
				Mild-mannered professional by day, renegade artist by night. 
                <br>Lover of creative expression through UI design.
			</p>
		</div>
	</div>
    <div class="custom-row">
        <div class="about-us-footer-profile">
            <img src="{% static 'img/icon/female_user_1.png' %}" alt="">
			<h4>Jo</h4>
			<h6>Co-founder</h6>
			<p>
				A fun-loving engineer and social justice advocate. 
                <br>Loves to solve intricate challenges and travel the world!
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/female_user_2.png' %}" alt="">
			<h4>Xiao</h4>
			<h6>Co-founder / Lead Backend Developer </h6>
			<p>
				A passionate full-stack software engineer who loves to solve tough problems.
                <br>Strong advocate of women leadership, diversity and inclusion in the workplace.
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/male_user_1.png' %}" alt="">
			<h4>Shane</h4>
			<h6>Lead Frontend Developer</h6>
			<p>
				Full-stack engineer, passionate in developing user friendly application
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/female_user_3.png' %}" alt="">
			<h4>Julie</h4>
			<h6>UX Designer</h6>
			<p>
				Mild-mannered professional by day, renegade artist by night. 
                <br>Lover of creative expression through UI design.
			</p>
		</div>
	</div>
    <hr class="hr-text" data-content="BOARD OF DIRECTORS">
    <div class="custom-row">
        <div class="about-us-footer-profile">
            <img src="{% static 'img/icon/female_user_1.png' %}" alt="">
			<h4>Jo</h4>
			<h6>Co-founder</h6>
			<p>
				A fun-loving engineer and social justice advocate. 
                <br>Loves to solve intricate challenges and travel the world!
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/female_user_2.png' %}" alt="">
			<h4>Xiao</h4>
			<h6>Co-founder / Lead Backend Developer </h6>
			<p>
				A passionate full-stack software engineer who loves to solve tough problems.
                <br>Strong advocate of women leadership, diversity and inclusion in the workplace.
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/male_user_1.png' %}" alt="">
			<h4>Shane</h4>
			<h6>Lead Frontend Developer</h6>
			<p>
				Full-stack engineer, passionate in developing user friendly application
			</p>
		</div>
		<div class="about-us-footer-profile">
			<img src="{% static 'img/icon/female_user_3.png' %}" alt="">
			<h4>Julie</h4>
			<h6>UX Designer</h6>
			<p>
				Mild-mannered professional by day, renegade artist by night. 
                <br>Lover of creative expression through UI design.
			</p>
		</div>
	</div>
</div>



{% endblock %}
