{% load staticfiles %}
<section class="about_story_area p_120">
        	<div class="container">
        		<div class="row story_inner">
        			<div class="col-lg-6">
        				<div class="story_text">
        					<h2>About <br />Our Story</h2>
        					<p>We are two passionate women engineers from different industries in the West Coast of the United States.
                    We met at a women’s engineering group </p>
                  <p>We had similar classes in school, and grew closer throughout the years via hiking, shopping, networking and other social events
                    We also shared many of our life stories together, and we started to notice that we had similar experiences at work, which included some not-so-favorable situations. 
                    We were at first shy to talk about the stories, but realized we weren’t alone in these experiences and felt better after talking them out </p>
                  <p>We found out that there weren’t site that showcased ethical cases derived from women’s experiences in the workplace, and thought it would be helpful to gather cases to empower other individuals, particularly women, to be be aware, brave, resilient, strong and empowered to face or resolve the situation.
                    We have encountered some unjust situations in the workplace and we wanted to share our experiences to the wider community to enable women like us to be able to be aware of potentially similar events and empower them to speak up and be brave about it.
                  </p>
        					<!--<a class="main_btn" href="#">View Full Menu</a>-->
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="story_img">
        					<img class="img-fluid" src="{% static 'img/story/story-1.jpg' %}" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Story Area =================-->
        
        <!--================Story Area =================-->
        <section class="about_story_area">
        	<div class="container">
        		<div class="row story_inner">
        			<div class="col-lg-7">
        				<div class="story_img2">
        					<img class="img-fluid" src="{% static 'img/story/story-2.jpg' %}" alt="">
        				</div>
        			</div>
        			<div class="col-lg-5">
        				<div class="story_text">
        					<h2>Why <br />Sisu</h2>
        					<p>Our logo represents our vision to shine (y)our light in any situation, no matter how difficult...even shining the smallest light is an opportunity to ultimately help other women 
Even though we cannot physically be there to help the inidividual, we hope the support from others would help him or her to face the situation in a positive way 
If you ever feel like you’re alone, you are most likely not, and we want to be your virtual light
We also feel that when we shine our light to you, we feel like you are helping us too :)
This website also helped us to not feel bored and practice coding!
We named our project Sisu because the name means ____ in finnish, which we felt was a perfect match for our goal 
</p>
        					<!-- <a class="main_btn" href="#">View Full Menu</a> -->
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Story Area =================-->
     