{% extends "blog/base_sub.html" %}
{% load staticfiles %}


{% block header %}
<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
								<li class="nav-item active"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Story Category <span class="caret"></span></a>
									<ul class="dropdown-menu">
										{% include 'blog/post_category_header.html'%}
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Sisu</a></li>
							</ul>
{% endblock %}

{% block sub_content %}  

<!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>About Us</h2>
						<div class="page_link">
							<a href="/">Home</a>
							<a href="{% url 'about_us' %}">About Us</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        {% include 'blog/about_us_content.html' %}
 {% endblock %}       
        