{% load staticfiles %}
<section class="about_story_area p_120">
        	<div class="container">
        		<div class="row story_inner">
        			<div class="col-lg-6">
        				<div class="story_text">
        					<h2>About <br />Our Story</h2>
        					<p>One event. One school. Two passionate women engineers. </p>
                  <p>Our friendship started in the most conventional of ways; 
                  one was a student, other was her teaching assistant.  </p>
                  <p>After a few exchanged doodles via homework assignments on graphing paper, 
                  we finally met in-person at a Society of Women Engineers event being hosted at our university… </p>
                  <p>...and the rest was history. </p>
        					
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="story_img">
        					<img class="img-fluid" src="{% static 'img/story/story-1.jpg' %}" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Story Area =================-->
        
        <!--================Story Area =================-->
        <section class="about_story_area">
        	<div class="container">
        		<div class="row story_inner">
        			<div class="col-lg-6">
        				<div class="story_img2">
        					<img class="img-fluid" src="{% static 'img/story/whysisu.png' %}" alt="">
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="story_text">
        					<h2>Why SISU</h2>
        					<p><b style="font-weight:bold; color:#288FB4;">We are not alone.</b>  Harassment, discrimination, politics, and other conflicts in the workplace inspired us to realize many other women could be facing similar situations in their workplaces.</p>
        					<p><b style="font-weight:bold; color:#288FB4;">We want to listen.</b>  Interviewing and collecting cases from women who have undergone unfavorable incidents in academia or industry is our mission. We want to highlight the real, the here, and the now in the hopes of illuminating truth in the darkest places.</p>
                  <p><b style="font-weight:bold; color:#288FB4;">We want to speak up.</b>  Our published cases aim to empower women, particularly those in STEM fields, to speak up--whether it be to their perpetrator, manager, organizational authority, or themselves.  We want to help women embrace their emotions, discern the best path forward, and, ultimately, heal from their incidents. 
</p>
                  <p><b style="font-weight:bold; color:#288FB4;">We want to work with you.</b>  By bringing awareness to universities, corporations, and other organizational entities, our “Empower Now” program intends to prevent inappropriate incidents from occuring in the workplace.  Inspiring empathy in every user is key to preparing them to respond aptly to on-the-field situations.
</p>
                  <p><b style="font-weight:bold; color:#288FB4;">We want you to stick with it.</b>  More than 200 women in top, tech firm positions reported sexist work interactions, with one in three women having felt afraid for their safety [1].  Additionally, nearly 40 percent who earn engineering degrees either quit or never enter the profession [2].  Thus, our mission is simple: to help women joyfully pursue their STEM dreams without feeling uncomfortable, inhibited, or dissuaded in any way because of uncalled for people-play. 
</p>
                </div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Story Area =================-->
     