{% extends "blog/base_sub.html" %}
{% load staticfiles %}

{% block header %}
	<li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
	<li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About</a></li> 
	<li class="nav-item active"><a class="nav-link" href="{% url 'post_cases' %}">Cases</a></li>
{% endblock %}

{% block sub_content %}  

  {% block banner_content %}
  {% endblock %}
  
  <!--================ Break =================-->
  <div><br></div>
  <!--================ Break =================-->
  
    <div class="sidenav">
      <div class="sidediv">
         <ul class="list menu_left" id="left_menu_list">  
           <div><br></div>
           <h2>Cases</h2>
             {% for name, member in categories %}
             <li><small><i class="glyphicon glyphicon-lamp"></i> <a href="{% url 'post_list_by_category' category_name=member.value %}"> {{ member.label }} </a></small></li>
             {% endfor %}
         </ul>
          
          <div><br><br><br><br><br><br></div>
          <!--
          <ul class="list menu_left" id="left_user_area">
          {% if user.is_authenticated %}
            <li><i class="glyphicon glyphicon-user"></i> {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></li>
            <li><i class="glyphicon glyphicon-cog"></i> <a href="{% url 'user_settings' %}" >Settings</a> </li>
          {% else %}
            <li><i class="glyphicon glyphicon-lock"></i> <a href="{% url 'signup' %}">Sign in / Sign up </a></li>
          {% endif %}
          </ul>
          -->
       </div>
		</div> 
     
  <!--================Blog Area =================-->
  
  {% block post_content %}
  {% endblock %}

  <!--================ start footer Area  =================-->	
        <footer class="footer-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  col-md-6 col-sm-6">
                     <aside class="f_widget news_widget">
                        <div class="f_title">
                          <h3 class="footer_title">Vote For App</h3>
                        </div>
                        <div id="mc_embed_signup">
                        {% include 'blog/vote_for_app.html' %} 
                        </div>
                     </aside>
                    </div>
                    
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Contacts</h6>
                            <ul class="list">
                              <li><i class="glyphicon glyphicon-envelope"></i>&ensp;<a href="{% url 'contact_us' %}">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0">Copyright © 2018 All rights reserved   |   This template is made with <i class="lnr lnr-heart"></i> by <a href="#">Colorlib</a></p>
                    <div class="col-lg-4 col-md-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer> 
{% endblock %}
