{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!--================ Header Menu Area =================-->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="150" id="navigationBar">
    <!--================ Logo =================-->
    <div class="navbar-header">
      <a class="navbar-brand logo_h" href="/" style="top= -10px;"><img src="{% static 'img/Sisu_Logo_1.png' %}" alt=""></a>
    </div>
    <!--================ Navigation Bar =================-->
    <div class="navbar-content" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown nav-dropdown">
          <a class="nav-link">
            Stories
          </a>
          <div class="dropdown-menu">
            {% for name, member in categories %}
              <a class="dropdown-item" href="{% url 'story' category_name=member.value %}">{{ member.label }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About</a></li> 
        <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contribute to SISU</a></li>
      </ul>             
    </div>
    <!--================ Search =================-->
    <div  class="navbar-content" id="mySearchbar" style="margin-left:auto; margin-right:0">
      <ul class="nav navbar-nav">
        <aside class="f_widget news_widget" style="padding-bottom:0;">
          
          <form action="{% url 'search' %}" method="POST" id="seachForm" style="text-align:right;">
         
          {% csrf_token %}
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="input-group d-flex flex-row">
              <input id="main_search_input" type="text" name="search_string" class="form-control" 
                     style="text-align:left; cursor:auto;background-color:#F6E6F0" placeholder="Search For A Case" required=""/>
            </div>
          </div> 
          </form>
        </aside>
        {% if isLoggedIn == True %}
          <div class="header-avatar custom-row">
            <!-- This should be dynamically code based on user profile
            correct user_id for href
            correct user profile for img
            Name
           -->
              {{ userprofile.management_form }}
              {% for form in userprofile.forms %}
              <a href="{% url 'user_details' pk=user.pk %}">
                  <img src="{% static '/img/icon/' %}{{ form.instance.photo }}.png">
              </a>
              {% endfor %}

              <span class="nav-item dropdown nav-dropdown">
                <span class="nav-link">
                  Hi, {{ request.user }}!
                </span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'user_details' pk=user.pk %}">Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    
                </div>
              </span>
          </div>
        {% else %}
          <button type="submit" id="signup-button" data-toggle="modal" data-target="#signinModal">
            SIGN UP
          </button>
        {% endif %}
      </ul>
    </div>   
</nav>    

<!-- Sign-in/up Modal -->
<div class="modal fade" id="signinModal" role="dialog" style="overflow-y:hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
        {% include 'blog/login_modal.html' %}
        </div>
    </div>
</div>      

    {% block sub_content %}
        
    {% endblock %}
     
{% endblock %}
        