{% load staticfiles %}
<!-- Credited to  Mohan Khadka on CodePen 
https://codepen.io/khadkamhn/pen/ZGvPLo -->
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in"><label id="label-tab-1" for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label id="label-tab-2" for="tab-2" class="tab">Sign Up</label>
        
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<h3>
						Welcome Back!
					</h3>
				</div>
				<div class="group">
					<button<>GOOGLE</button>
				</div>
				<div class="group">
					<button<>FACEBOOK</button>
				</div>
				<div class="group">
					<h4>
						- or -
					</h4>
				</div>
				<form id="signinForm" method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<div class="group">
						<input id="user" type="text" class="input" name="username" placeholder="Username">
					</div>
					<div class="group">
						<input id="pass" type="password" class="input" name="password" placeholder="Password">
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check" class="loginCheck"><span class="icon"></span> Keep me Signed in</label>
					</div>
					<div class="group">
						<input type="submit" class="sisu-button" value="Sign In">
					</div>
					<input type="hidden" name="next" value="{{ request.path }}" />
				</form>
				<div class="foot-lnk">
						Don't have an account?  <label for="tab-2" class="switchLabel">Sign up</label>
                        <br>Forget Password ? <a href="{% url 'password_reset' %}">Reset</a>  
				</div>
			</div>
     
            <div class="sign-up-htm">
				<div class="group">
					<h3>
						Welcome to SISU!
					</h3>
				</div>
				<div class="group">
					<button>GOOGLE</button>
				</div>
				<div class="group">
					<button>FACEBOOK</button>
				</div>
				<div class="group">
					<h4>
						- or -
					</h4>
				</div>
                <form method="post" action="{% url 'signup' %}">
				{% csrf_token %}
                {% for field in signup_form %}
					<div class="group">
                        <input for='{{ forloop.counter }}' name="{{ field.html_name }}" maxlength="150" title='{{ field.help_text }}' class="input" required="" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                    
					</div>
        
					<!-- {% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %} -->
                {% endfor %}
        
                    <div class="group">
                        <input type="submit" class="sisu-button" value="Sign Up">
                    </div>
                </form>
      
                <div class="foot-lnk">
					Already have an account?  <label for="tab-1" class="switchLabel">Sign in</label>
                </div>
			</div>
		</div>
	</div>
  
</div>
<script type="text/javascript">
    document.getElementById('id_password1').type = 'password';
    document.getElementById('id_password2').type = 'password';
</script>