{% load staticfiles %}

    <div class="post">
        {% if post.published_date %}
            <div class="separator_line"></div>
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
          {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}
        {% endif %}
        
        <h2>{{ post.title }}</h2> 
        <p>{{ post.text|linebreaksbr }}</p>
        
        <div>
          {% include 'blog/post_detail_metoo.html' %}  
        </div>
    
     
    
    