{% extends "blog/base_sub.html" %}
{% load staticfiles %}

{% block header %}
<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Story Category <span class="caret"></span></a>
									<ul class="dropdown-menu">
										{% include 'blog/post_category_header.html'%}
                    </ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Sisu</a></li>
							</ul>
{% endblock %}

{% block sub_content %}  
<section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Search Results for "{{ query_string }}"</h2>
						<div class="page_link">
							<a href="/">Home</a>
							<a href="">Story Category</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        
<!--================ Break =================-->
        <div><br></div>
        <!--================ Break =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                        {% for post in found_entries %}
                        
                        <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <div class="post_tag">
                                            {{ post.category_name }}
                                        </div>
                                        <ul class="blog_meta list">
                                            <li>{{ post.published_date }}<i class="lnr lnr-calendar-full"></i></li>
                                            <li>06 Comments<i class="lnr lnr-bubble"></i></li>                                        </ul>
                                    </div>
                               </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="{% static 'img/blog/main-blog/m-blog-1.jpg' %}" alt="">
                                        <div class="blog_details">
                                            <a href="{% url 'post_detail' pk=post.pk %}"><h2>{{ post.title }}</h2></a>
                                            <p>{{ post.short_desc|linebreaksbr }}</p>
                                            <a href="{% url 'post_detail' pk=post.pk %}" class="blog_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            
                            {% empty %}
                             <div class="separator_line"></div>
                             <h3> No results found for "{{ query_string }}". </h3>  
                            {% endfor %}
                          </div>
                    </div>  
                    </div>
                    </div>
                    </section>
                    
{% endblock %}  