{% extends "blog/base_sub_w_footer_no_usrprof.html" %}
{% load staticfiles %}

{% block sub_content %} 
<div class="sisu-header" style="background-image: url({% static '/img/story/search.jpg' %});">
    <div class="sisu-header-container">
        <div class="sisu-header-text">
            <h2>Search Results for: </h2>
            <h3>"{{ query_string }}"</h3>
        </div>
    </div>
    <div class="story-carousel-blur"></div>
</div>

<div class="story-content">
    <!-- story entry insert story id -->
    {% for post in found_entries %}
    <a href="{% url 'story_entry' pk=post.pk %}">
        <div class="story-content-entry custom-row">
            <div class="story-text">
                <h5> {{ post.category_name }} </h5>
                <h4>
                    {{ post.title }}
                </h4>
                <p>
                    {{ post.short_desc|linebreaksbr }}
                </p>
            </div>
            <div class="story-img-list">
                <img src="{% static '/img/blog/main-blog/' %}{{ post.pk }}.jpg" alt="" align="case">
                
            </div>
        </div>
    </a>
    {% empty %}
    <div class="col-md-4"></div>
    <h2> New cases are coming! </h2>
    <h2> Meanwhile, take a look at these cases. </h2>         

    {% endfor %}
 </div>
                                       
{% endblock %}  