{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %}  

<div class="sisu-header">
    <div class="sisu-header-container">
        <div class="sisu-header-text">
            <h4>{{ post.category_name }}</h4>
            <h2>{{ post.title }}</h2>
            <p>
                {{ post.short_desc|linebreaksbr }}
            </p>
        </div>
    </div>
    <div class="story-carousel-blur"></div>
</div>
<section class="story-entry">
    {% include 'blog/story_entry_social.html' %} 
    
    <div class="story-entry-content custom-row">
        <div class="story-entry-center">
            <section>
                <p>
                   {{ post.text|linebreaksbr }}
                </p>
            </section>
            
            {% include 'blog/story_entry_comment.html' %} 
            
        </div>
        <div class="story-entry-center-filler"></div>
    </div>
    <div class="story-entry-comment">

    </div>
    {% include 'blog/story_entry_solution.html' %}
</section>


{% endblock %}       
        