{% load staticfiles %}

<div class="story-content">
    <!-- story entry insert story id -->
    {% for post in posts %}
    <a href="{% url 'story_entry' pk=post.pk %}">
        <div class="story-content-entry custom-row">
            <div class="story-text">
                <h4>
                    {{ post.title }}
                </h4>
                <p>
                    {{ post.short_desc|linebreaksbr }}
                </p>
            </div>
            <div class="story-img">
                <img src="{% static '/img/blog/main-blog/' %}{{ post.pk }}.png" alt="">
                
            </div>
        </div>
    </a>
    {% empty %}
    <div class="col-md-4"></div>
    <h2> New cases are coming! </h2>
    {% endfor %}
</div>
