{% load staticfiles %}
<div class="story-entry-right">
    <div class="story-entry-right-content">
        <h4>SUGGESTED SOLUTIONS</h4>
        <img src="{% static '/img/story/construction.jpg' %}" />
    </div>
    <div class="story-entry-right-content">
        <h4>RESOURCES</h4>
        <img src="{% static '/img/story/construction.jpg' %}" />
        <p>
                Lorem ipsum dolor amet
                chillwave woke unicorn
                fingerstache, beard
                hammock art party raw
        </p>
    </div>
</div>