{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %}  

<div class="sisu-header">
    <div class="sisu-header-container">
        <div class="sisu-header-text">
            <!-- Plug in correct header and p for each category -->
            <h1>Discrimination</h1>
            <p>
                The unjust or prejudicial treatment of different categories of people or things, especially on the grounds
                of race, age, sex, or intellectual capability
            </p>
        </div>
    </div>
    <div class="story-carousel-blur"></div>
</div>
<section class="story">
    {% include 'blog/story_content.html' %}
</section>


{% endblock %}       
        