{% load staticfiles %}
<div class="story-entry-right">
    <div class="story-entry-right-content">
        <h4>SUGGESTED SOLUTIONS</h4>
        <img src="{% static '/img/story/construction.jpg' %}" />
    </div>
    <div class="story-entry-right-content">
        <h4>RESOURCES</h4>
        <img src="{% static '/img/story/construction.jpg' %}" />
        <p>
                We are still working on SUGGESTED SOLUTIONS & <br>
                RESOURCES sections. <br>
                Stay tuned <br>
                Or <a href="{% url 'contact_us' %}" style="color:#F78C18">contact us</a> !
        </p>
    </div>
</div>