{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %}  
<div class="user-details">
    <div class="user-details-header">
        {{ formset.management_form }}
        {% for form in formset.forms %}
        <div class="user-details-header-avatar">
            <img src="{% static '/img/icon/' %}{{ form.instance.photo }}.png">
        </div>
        {% endfor %}
        
        <div class="user-details-header-content">
            
            <div class="custom-row">
                {% if noodle_form.instance.first_name %}
                    <h1> {{noodle_form.instance.first_name}},&nbsp </h1> 
                {% else %}
                    <h5> Your first name,   </h5>
                {% endif %}
                
                {% if noodle_form.instance.last_name %}
                    <h1> {{noodle_form.instance.last_name}} </h1>
                {% else %}
                    <h5>  Your last name </h5>
                {% endif %}
                
                <button class="sisu-button edit-button">
                    <a class="sisu-button" href="{% url 'display_profile' pk=user.pk %}">
                            EDIT PROFILE
                    </a>
                </button>
                <button class="sisu-button edit-button">
                    <a class="sisu-button" href="{% url 'change_password' %}">
                            CHANGE PASSWORD
                    </a>
                </button>
                <button class="sisu-button edit-button">
                    <a class="sisu-button" href="{% url 'delete_profile' pk=user.pk %}">
                            DELETE ACCOUNT
                    </a>
                </button>
                    
            </div>
            <div>
                <span class="user-details-icon">
                    <span class="fa fa-lightbulb-o"></span>
                    <span>
                        100 lights
                    </span>
                </span>
                <span class="user-details-icon">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>
                        50 comments
                    </span>
                </span>
                <span class="user-details-icon">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <span>
                        6 bookmarks
                    </span>
                </span>
            </div>
            <p> <br>
                Your Username: {{ noodle_form.instance.username }} <br>
                Your Email: {{ noodle_form.instance.email }}
            </p>
        </div>


    </div>
    <div class="sisu-nav-tabs user-details-content">
        <input id="user-details-tab1" type="radio" name="tabs" checked>
        <label for="user-details-tab1">Lights</label>
        
        <input id="user-details-tab2" type="radio" name="tabs">
        <label for="user-details-tab2">Comments</label>
        
        <input id="user-details-tab3" type="radio" name="tabs">
        <label for="user-details-tab3">Activities</label>
        <section id="user-details-lights">
            {% include 'blog/story_content.html' %}
        </section>
        <section id="user-details-comments">
            <p>
                Comments
            </p>
        </section>
        <section id="user-details-bookmarks">
            Bookmarks
        </section>
    </div>

</div>

{% endblock %}       
