{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %} 
<div class="user-details">
    <div class="user-details-edit custom-row">
        <h3>
            Delete Account from SISU
        </h3>
    </div>    
    
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Confirm delete {{ object }}?</button>
        
    </form>
  
    <button type="submit" class="sisu-button">
        <a href="{% url 'user_details' pk=user.id %}">GO BACK</a>
    </button>

</div>    
{% endblock %}