 body {
    font-family: Raleway !important;
 }

.navbar-brand {
    padding: 5px;
    padding-left: 65px;
}
.navbar-brand > img {
    height: 100%;
}
.navbar {
    background: white;
    border-color: white;
    display: flex;
    border: none;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .nav-dropdown > a:hover, 
.nav-dropdown div > a:hover {
    background-color: #E994C3;
}
#nav-dropdown-header {
    color: #9d9d9d;
}
#nav-dropdown-header:hover {
    color: white;
}
.nav-dropdown:hover > div {
    display: block;
    margin-top: -1px;
    margin-left: -3px;
    border-width: 0;
}

.nav-dropdown > a {
    padding: 15px;
    line-height: 20px;
}

.header-avatar {
    margin-right: 10px;
}
.header-avatar > a {
    height: 40px;
    width: 40px;
}
.header-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.header-avatar span {
    font-size: 12px;
    margin: auto 0;
    padding: 0 10px;
}
#signup-button {
    border-radius: 20px;
    padding: 5px 15px;
    color: #FAC633;
}

.story-carousel a {
    width: 5%;
}

.story-carousel-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(93, 16, 73, 0.4);
}

.story-carousel-item {
    height: 800px;
}

.story-carousel-item img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.custom-row {
    display: flex;
}
.story-carousel-caption {
    position: absolute;
    top: 10%;
    /* left: 15%; */
    z-index: 10;
    padding: 20px;
    text-align: left;
}

.story-carousel-caption {
    width: 45%;
    left: 4%;
}

.story-carousel-caption p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

.story-carousel-caption > h3 {
    color: #FAC633;
    font-size: 40px;
}

.story-carousel-caption > h1 {
    color: white;
    font-size: 110px;
}

.about-info {
    text-align: center;
    padding: 30px;
    min-height: 300px;
}
.left-text {
    text-align: left;
}

.right-text {
    max-width: 500px;
    text-align: right;
}
.about-info > h1 {
    color: #7D1E62;
    margin: 20px;
}
.about-info > p {
    margin: 10px 20px 30px 20px;
}

.sisu-button{
    border-color: grey;
    background-color: #F6E6F0;
    border-radius: 15px;
    padding: 5px 30px;
}
.sisu-button, .sisu-button a {
    color: #7D1E62;
}
.about-info a {
    color: #7D1E62;
}

.about-us-upper-panel > div{
    justify-content: space-between;
    padding: 20px 0;
}
.circle-img {
    height: 350px;
    width: 350px;
    margin: 0;
    position: relative;
}
.circle-img img {
    position: relative;
    border-radius: 50%;
    height: 100%; 
    width: 100%;
    object-fit: cover;
}

.img-blur {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    background-color: rgba(93, 16, 73, 0.4);
    margin: 0;
    padding: 0;
}

.about-us h1{
    color: #7D1E62;
}
.about-us h4 {
    color: #FAC633;
    font-size: 20px;
}
.about-us p {
    font-size: 12px;
}
.about-us-upper-panel > div > span{
    padding: 0;
    margin: auto 0;
    max-width: 50%;
    position: relative;
}

.about-us-lower-panel {
    text-align: center;
    margin: 70px auto;
    max-width: 600px;
}

.about-us-lower-panel-block {
    padding: 30px;
}
.about-us-lower-panel-block img {
    margin-bottom: 10px;
}
.about-us-lower-panel-block h4 {
    margin-bottom: 10px;
}
.about-us-footer {
    text-align: center;
    background-color:#F6E6F0;
}
.about-us-footer h1 {
    margin-bottom: 30px;
}
.about-us-footer > div {
    justify-content: space-between;
    padding: 0 130px;
}

.about-us-footer-profile {
    max-width: 110px;
    text-align: left;
}
.about-us-footer-profile img{
    height: 85px;
    width: 85px;
    border-radius: 50%;
}
.contact-us-content {
    max-width: 900px;
}
.contact-us-content h1 {
    color: #7D1E62;
    margin-bottom: 20px;
    font-size: 50px;
}
.sisu-header {
    background-image: url('http://starbridgepartners.com/wp-content/uploads/2017/06/linkedin-banner.jpg');
    height: 250px;
    position: relative;
    text-align: center;
}
.sisu-header-container {
    position: relative;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}
.sisu-header-text {
    position: relative;
    text-align: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    padding: 0 50px;
}
.sisu-header-text h1 {
    font-size: 55px;
}
.sisu-header-text h4 {
    color: #FAC633;
}
.sisu-header p {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
}
.contact-us-panel {
    position: relative;
    margin-top: 30px;
    margin-bottom: 80px;
}
.contact-us-left-panel {
    max-width: 50%;
}
.contact-us-left-panel > div {
    width: 250px;
}
.contact-us-right-panel {
    position: relative;
    margin-left: auto;
    max-width: 50%;
}
.contact-us-text-panel {
    max-width: 350px;
}
.contact_form input {
    margin-bottom: 20px;
    border-width: 0 0 3px 0;
    border-color: #FAC633;
}
.contact_form textarea {
    border-width: 1px;
    padding: 5px;
    resize: none;
}
.form-actions {
    margin-left: auto;
    text-align: end;
}
.story {
    padding: 0 50px;
    max-width: 900px;
    margin:  0 auto;
}
.story-content {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}
.story-content-entry {
    position: relative;
    padding: 50px 0;
}

.story-img-list img {
    width: 280px;
    height: 125px;
    object-fit: cover;
}

.story-text {
    width: 70%;
    padding-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.story-text h4 {
    color: #FAC633;
    font-size: 30px;
}
.story-text p {
    font-size: 11px;
}
.story-entry {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}
.story-entry h4 {
    color: #FAC633;
}
.story-entry p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}
.story-entry-left {
    position: absolute;
    margin-top: 50px;
    margin-left: -20px;
}
.story-icons a {
    display: block;
    padding: 5px;
    transform: scale(1.1);
}
.story-icons a:first-child {
    color: #FAC633;
}
.story-entry-content {
    position: relative;
    padding: 50px 50px;
    min-height: 800px;
}
.story-entry-conent-center {
    padding-right: 300px;
}
.story-entry-center section {
    margin-bottom: 200px;
}
.story-entry-center-filler {
    width: 1200px;
}
.story-entry-right {
    margin-top: 50px;
    margin-right: -50px;
    width: 170px;
    position: absolute;
    top: 0;
    right: 0;
}
.story-entry-right img {
    width: 100%;
    padding-bottom: 5px;
}
.story-entry-right-content {
    padding-bottom: 30px;
}
.story-entry-right-content p {
    font-size: 11px;
}

.story-entry-comment h5 {
    color: #F8AF1B;
}
.story-entry-comment p {
    color: rgba(0, 0, 0, 0.6);
}
.story-entry-comment-entry {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #F5F5F5;
    border-radius: 10px;
    min-height: 50px;
}
.story-entry-comment-entry div {
    display: inline-block;
}
.story-entry-comment-entry-avatar {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    float: left;
}
.story-entry-comment-entry-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.story-entry-comment-entry-timeline {
    float: right;
    font-size: 14px;
}
.story-entry-comment-entry-content input {
    background: none;
    border: none;
    min-width: 500px;
    min-height: 30px;
    padding: 0 10px;
}
.user-details {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}
.user-details-header {
    margin: 50px 0 20px 0;
    height: 150px;
}
.user-details-header-avatar {
    height: 100%;
    margin-right: 50px;
    float: left;
}
.user-details-header-avatar img {
    height: 100%;
    /* width: 100%; */
    border-radius: 50%;
}
.edit-button, .edit-button > a {
    background-color: white;
    height: 30px;
    padding: 0 10px;
    margin: 7px 20px;
}
.user-details-edit-button {
    right: 0;
    margin: 10px;
    position: absolute;
}
.user-details-edit-button .sisu-button {
    min-width: 120px;
    margin-left: 10px;
}
.user-details-edit {
    margin-top: 100px;
}
.sisu-nav-tabs {
    border-top: 4px solid #dee2e6;
}
.sisu-nav-tabs > label {
    margin-top: -4px;
    margin-right: -4px;
    border-top: 4px none;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}
.sisu-nav-tabs input {
    display: none;
}
.sisu-nav-tabs label:hover {
    cursor: pointer;
    background: rgba(221, 160, 221, 0.623);
}

.user-details-header-content {
    height: 100%;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
}
.user-details-header-content h1{
    font-weight: 450;
    color: #7D1E62;
}
.user-details-header-content input, .user-details-header-content textarea {
    border-width: 0 0 2px 0;
    border-color: #FAC633;
    outline: none;
}
.user-details-header-content input {
    font-weight: 450;
    color: #7D1E62;
    font-size: 30px;
    margin-bottom: 10px;
}
.user-details-header-content textarea {
    height: 80px;
    width: 100%;
    resize: none;
}
.user-details-content section {
    display: none;
    padding: 20px 0 0;
}

#user-details-tab1:checked ~ #user-details-lights,
#user-details-tab2:checked ~ #user-details-comments,
#user-details-tab3:checked ~ #user-details-bookmarks {
    display: block;
}
.sisu-nav-tabs input:checked + label {
    border-top: 4px solid #7D1E62;
}

.user-details-icon {
    padding-right: 20px;
}
.user-details-icon > span {
    font-size: 15px;
    margin-right: 6px;
}
.user-details-header-content div {
    padding-bottom: 5px;
}

.underline {
    text-decoration: underline;
}

.user-details-edit h3 {
    color: #F8AF1B;
}

.user-details-edit input {
    margin: 10px 0; 
    width: 250px;
    height: 30px;
}

.story-entry-content {
    position: relative;
    padding: 50px 50px;
}
.story-entry-conent-center {
    padding-right: 300px;
}
.story-entry-center section {
    margin-bottom: 20px;
}
.story-entry-footer {
    background-color:#F6E6F0;
    padding: 40px 0;
}
.story-entry-footer h4 {
    color: #7D1E62;
    margin: 15px 0 5px;
    font-weight: 550;
}
.story-entry-footer p {
    font-size: 12px;
}
.story-entry-footer > div{
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}

.story-entry-footer-item {
    width: 250px;
}
.story-entry-footer-item img {
    width: 100%;
}